.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  padding: 0 10px 10px;
}

.grid-container > .card {
  background-color: #ffffff;
  color: #484f9b;
  border-radius: 8px;
  padding: 15px;
}
.grid-container > .card .img-container {
  height: 230px;
}
.grid-container > .card .img-container > img {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
.grid-container > .card h3 {
    font-size: 1.1rem;
}
.grid-container > .card .details-box {
    margin-bottom: 10px;
}
.grid-container > .card .details-box strong {
    padding-right: 10px;
    font-size: 1.1rem;
    color: #000000;
}
.grid-container > .card .details-box span {
    font-size: 1.1rem;
}

/* MEDIA QUERIES FOR GRID HANDLE */
@media screen and (max-width: 700px) {
    main {
        margin: 0 20px;
    }
    .left-section {
        margin-bottom: 20px;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    .grid-container > .card .img-container {
        height: auto;
    }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}
/* misc classes */
.p-10 {
  padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.border-1 {
  border: 1px solid gray;
}
.bg-white {
  background-color: #ffffff;
}
.clearfix {
    clear: both;
}


/* Grid Classed for colums */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
